/* pagination */

header#title-block-header {
  display: none; 
           }

h1 {
  break-before: page;
  break-after: avoid-page;
  }

h2 {
  break-before: page;
  break-after: avoid-page;
    }

h1, h2, h3, h4, h5, h6 {
  break-after: avoid;
  break-inside: avoid; 
  margin-bottom: 0.5em;
  }

h3, h4, h5, h6 {
  margin-top: 0.5em;
  }

h3, h4 {
  margin-bottom: 0.4em;
  }

h5, h6 {
  margin-bottom: 0.2em;
  }

p { margin-top: 0.25em;
  margin-bottom: 0.25em;
  }

h1, h2 { margin-top: 0; }

table {
  break-inside: avoid-page;
  margin-top: 1em;
  caption-side: top;
  width: 100%;
  margin-left: 0.5in;
  margin-right: 0.5in;
  border-collapse: collapse;
  margin-bottom: 0.25in;
  margin-top: 0.25in;

    }

ol { 
  break-inside: avoid-page;
  }

ol li {
  break-inside: avoid-page;
  }

ul {
  break-inside: avoid-page;
  }

table thead tr {
  border-bottom: 0.5pt solid #543210;
  }

table tr td, table tr th {
  padding-left: 2pt;
  padding-right: 2pt;
  }

th {
  font-family: 'IM Fell Great Primer SC', 'IM Fell Great Primer', monospace;
  font-size: 11pt;
  vertical-align: top;
  color: #543210;
  }

td {
  font-size: 9pt;
  vertical-align: top;
  font-family: 'IM Fell Double Pica PRO', 'IM Fell Double Pica', monospace;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'IM Fell English PRO', 'IM Fell English', monospace;
  }

/* fonts */

body {
  font-family: 'IM Fell Double Pica PRO', 'IM Fell Double Pica', monospace;
  font-size: 10pt;

  /* column-count: 2;
  column-width: auto;
  column-gap: 2em;
  */
  }

@page {
  size: letter portrait;
  margin-top: 0.75in;
  margin-bottom: 0.75in;
  border-bottom: 0.5pt solid #543210;
  }

@page :first {
  padding-right: 0;
  padding-left: 0;
  }

@page :left {
  margin-right: 1.25in;
  margin-left: 1.25in;
  padding-right: 1in;
  }


@page :right {
  padding-left: 1in;
  margin-left: 1.25in;
  margin-right: 1.25in;
  }

/* font sizes*/

h1 { font-size: 3.2em; text-align: center; color: #432100; }
h2 { font-size: 1.8em; text-align: center; }
h3 { font-size: 1.6em; text-align: center; }
h4 { font-size: 1.4em; border-bottom: 0.5pt solid #432100; }
h5 { font-size: 1.3em; font-family: 'IM Fell Double Pica SC', 'IM Fell Double Pica', monospace; color: #432100; }
h6 { font-size: 1.1em; font-style: italic; }

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
  break-inside: avoid-page;
  }

/* indents and stuff */

p {
   text-indent: 0.25in;
   }
p:first-child {
    text-indent: 0;
    }

li {
  padding-bottom: 0.25em;
  }

h1 { margin-top: 0; padding-top: 0; }
   
h2 { margin-top: 0; padding-top: 0; }

/* tables */

table { 
  margin-left: auto;
  margin-right: auto;
  border: 0
    }


tr.even { 
  background-color: #EEEEEE;
  }
  
/* counters */

body { counter-reset: chaptercount tablecount; }

@page :first {
  @top-right {
    content: none;
             }
  }

@page {
    @bottom-center { content: counter(page);
      font-size: 18pt;
      font-family: 'IM Fell Great Primer PRO', 'IM Fell Great Primer', monospace;
      color: #432100;
    }
    }

@page :left {
  @top-left {
    content: string(doctitle);
    font-size: 14pt;
    font-family: 'IM Fell Double Pica PRO', 'IM Fell Double Pica', monospace;
    font-style: italic;
    color: #432100;
      }
    }

@page :right {
    @top-right {
    content: string(chaptername);
    font-size:  14pt;
    font-family: 'IM Fell Double Pica PRO', 'IM Fell Double Pica', monospace;
    font-style: italic;
    color: #432100;
        }
    
    }

table caption::before {
  content: "Table " counter(tablecount) ": ";
  counter-increment: tablecount;
             }

table caption {
  text-align: left;
  font-size: 12pt;
  font-style: italic;
  padding-bottom: 0.3em;
    }

h1 { string-set: doctitle    content(); }
h2 { string-set: chaptername content(); }
h3 { string-set: sectionname content(); }

h2::before {
  content: "Chapter " counter(chaptercount) ": ";
  counter-increment: chaptercount;
           }

/* success tables */

.success table {
  border: 1px solid #543210;
  table-layout: fixed;
  width: 2.5in;
  border-collapse: collapse;
  margin-bottom: 0.5em;
          }

.success thead tr th {
  background-color: #543210;
  color: white;
         }

.success td, .success th {
  font-size: 9pt;
  vertical-align: top;
  padding: 1pt;
  width: 1.25in;
         }

.success td:first-child, .success th:first-child {
  width: 0.75in;
  padding-left: 0.25em;
  padding-right: 0.25em;
         }

.success td:first-child {
  font-weight: bold; 
  }

.success th {
  text-align: right;
  font-size: 10pt;
  padding-left: 0.25em;
  padding-right: 0.25em;
  }

.success th:first-child {
  text-align: left;
  font-size: 1.2em;
  }


.example {
  padding: 0.25in 0.5in;
  margin: 0.25in;
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  border: 0.75pt solid #654321;
  }

.example p:first-child {
  text-indent: 0;
  }

.statblock {
  margin: 0.25in;
  padding: 0.25in 0.5in;
  border: 0.75pt solid #432165;
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  }

.toolbox {
  padding: 0.25in 0.5in;
  border: 0.75pt solid #654321;
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  margin: 0.25in;
  }

.dice {
  text-align: center;
  font-weight: bold;
  margin: 0.25in;
          }

.optional {
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  border: 0.75pt solid #123456;
  padding: 0.25in 0.5in;
  margin: 0.25in;
  }

.variant {
  padding: 0.25in 0.5in;
  border: 0.75pt solid #123456;
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  margin: 0.25in;
  }


.sidebar {
  margin: 0.25in;
  background-color: #EEEEEE;
  padding: 0.25in 0.5in;
  border: 0.75pt solid #999999;
  border-top-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  }

.fancylist ul {
  break-inside: auto;
  padding-left: 0;
  margin-left: 0;
  }

.fancylist li {
  list-style-type: none;
  break-inside: auto;
  padding-left: 0;
  margin-left: 0;
  text-indent: 0.25in;
  }

h1+p:first-letter, h2+p:first-letter {
  color: #432100;
  float: left;
  line-height: 32pt;
  font-size: 36pt;
  padding-right: 4pt;
  padding-bottom: 4pt;
  font-weight: bold;
  font-family: 'IM Fell Great Primer PRO', 'IM Fell Great Primer', monospace;
  }

h1+p, h2+p {
  text-indent: 0;
  }

h1+h2, h2+h3, h1+h3, h2+h4, h1+h4 {
  break-inside: avoid;
  }
